
  <li class="list-group-item item" id="item-<%= item.id %>">
    <%= link_to "", user_item_path(item.user.id, item.id), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    <%= item.name %>
    <span class="pull-right"><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %> left to complete!</span>
  </li>
